

body{
    background-color: #cccccc;
    padding:3% 15%; 
}

header{
    background-color: white;
}

.cards{
    background-color: white;
   
}

.card{
    background-color: whitesmoke;
}

#saved-section{
    display:none;
}

