body{
  font-family: "Montserrat", sans-serif;
  text-align:center;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bolder;
  line-height: 1.5;
}

p{
  color:#8f8f8f;
}

/*Containers*/
.container-fluid{
  padding:7% 15%;
}

/*Sections*/
.colored-section{
  background-color: #ff4c68;
  color:#fff;
}

.white-section{
    background-color: #fff;
}

/*Headings*/

.big-heading{
  font-size:3.5rem;
}

.section-heading{
  font-size:3rem;
}

/*Navigation Bar*/
.navbar{
  padding:0 0 4.5rem !important;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size:2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size:1.2rem;
}

/*Download Buttons*/

.download-button{
   margin:5% 3% 5% 0;
 }
 /*Title Section*/

 #title .container-fluid{
   padding:3% 15% 7%;
    text-align: left;
 }

 .title-img{
  width:22%;
  transform: rotate(25deg);
  position: absolute;
  right:24%;
 }

 /*Feature Section*/

#features{
  position:relative;
}

.feature-title{
  font-size:1.5rem;
}

.feature-box{
  padding:5%;
}

.fa-img{
  color:#ef8172;
  margin-bottom:1rem;
}

.fa-img:hover{
  color:#ff4c68;
}

 /*Testimonial Section*/

#testimonials{
  background-color:#ef8172;
}

#testimonials h2{
  margin:auto;
  width:80%;
}

.testimonial-text{
  font-size:3rem;
}

.testimonial-img{
  border-radius:100%;
  margin:20px;
  width:10%;
}

#press{
    background-color:#ef8172;
    padding-bottom:3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}

/*Pricing Section*/

#pricing{
  padding:100px;
}

.price-text{
  font-size:3rem;
}

.pricing-column{
  padding:3% 2%;
}

/*CTA Section */

/*Fotter Section*/
.social-icon{
  margin:20px 30px;
}

.copyright{
  position: relative;
  top:20px;
  font-size:small;
}

/*Media Query */

@media(max-width:1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position:static;
    transform:rotate(0);
    width:40%;
  }
}
