body{
    background-color:#FCF8E8;
    text-align: center;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
p{
    color:#383838;
    text-align: left;
    margin:20px;
    padding-top:20px;
    line-height: 1.7;
}
/*TOP CONTAİNER*/
.top-container{
    background-color: #ECB390;
    color:#2C3333;
    height:300px;
    width:1000px;
    margin:auto;
}
img.pp{
    display:block;
    border-radius:100%;
    width:150px;
    height:150px;
    margin:30px auto;
}
/*Middle*/
.middle-container{
    
    margin:10px auto;
    width:1000px;
}

.middle1{
    background-color: #CEE5D0;
    width:1000px;
    height:340px;
}

.img1{
    width:380px;
    height:300px;
    float:right;
    margin:20px;
}
.middle2{
    background-color:#ECB390;
    width:1000px;
    height:340px;
    
}

.img2{
    width:380px;
    height:300px;
    float:left;
    margin:20px;
}
.middle3{
    background-color: #CEE5D0;
    width:1000px;
    height:100px;
    margin-top:20px;
    
}
.button{
    border-style:solid;
    border-color:#383838;
    background-color: #94B49F;
    color:#383838;
    padding:20px;
    text-decoration: none;
    position: relative;
    top:40px;
    margin:0 60px;
}
.button:hover{
    color:White;
    text-decoration: underline;
    
    background-color: #efcbb5;
}

/*footer*/
.footer-container{
    background-color: #ECB390;
    width:1000px;
    height:240px;
    margin:auto;
}
.footer-container p{
    margin:3px;
    text-align: center;
    
}
.bigger{
    font-weight: bold;
    
}
.smallItalic{
    font-size: 14px;
    font-style: italic;
}
p.inline-block{
    display:inline-block;
}
a.wiki{
    text-decoration: none;
    color:#395B64;
    font-weight: bold;
}
a.wiki:hover{
    color:white;
    text-decoration: underline;
}