
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000;
}

body::before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url("images/hero-img.jpg");
    background-position: center;
}

nav{
    position:fixed;
    z-index: 1;
    padding:25px 60px;
}

nav a img{
    width:160px;
}

.form-wrapper{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:430px;
    padding:60px;
    border-radius: 4px;
    background: rgba(0,0,0,0.75);
}

.form-wrapper h2{
    color:#fff;
    font-size:2rem;
}
.form-wrapper form{
    margin:25px 0 65px;
}

form .form-control{
    position: relative;
    height:50px;
    margin-bottom: 16px;
}

.form-control input{
    height:100%;
    width: 100%;
    background-color: #333;
    outline:none;
    border:none;
    color:#fff;
    font-size:1rem;
    border-radius: 4px;
    padding: 0 20px;
}

.form-control input:is(:focus, :valid){
    padding: 16px 20px 0;
    background-color: #444;
}

.form-control label{
    position: absolute;
    left:20px;
    top:50%;
    color:#8c8c8c;
    pointer-events: none;
    font-size:1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label{
    font-size:0.75rem;
    transform: translateY(-130%);
}

form button{
    width:100%;
    padding:16px 0;
    font-size:1rem;
    border:none;
    outline:none;
    color:#fff;
    cursor:pointer;
    font-weight:500;
    border-radius:4px;
    background-color: #e50914;
    margin: 25px 0 10px;
    transition: 0.1s ease;
}

form button:hover{
    background: #c40812;
}

form .form-help{
    display:flex;
    justify-content: space-between;
}

form .remember-me{
    display:flex;
}

form .remember-me input{
    margin-right:5px;
    accent-color: #b3b3b3;
}

form .form-help :where(label,a){
    font-size:0.9rem
}

.form-wrapper :where(label,p,small,a){
    color:#b3b3b3;
}

.form-wrapper p a{
    color:#fff;
}
.form-wrapper small{
    display:block;
    margin-top:15px;
}
.form-wrapper small a {
    color:#0071eb;
}
.form-wrapper a {
    text-decoration: none;
}
.form-wrapper a:hover{
    text-decoration: underline;
}

@media (max-width:740px){
    body::before{
        display:none;
    }
    nav, .form-wrapper{
        padding:20px;
    }
    nav a img{
        width:140px;
    }
    .form-wrapper{
        top:43%;
        width:100%;
    }
}



