html{
    scroll-behavior: smooth;
}

body{
    color:#40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color:#66BFBF;
    margin-top:50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 565%;
}

h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight:normal;
    padding-bottom:10px;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height:2;
}

a{
    color:#11999E;
}

hr{
    border-style: dotted none none;
    border-width:7px;
    color:#EAF6F6;
    width:4%;
    margin: 50px auto;

}
/*nav section*/
nav{
    background-color: #E4F9F5;
    padding:0.5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    transition: top 0.3s;
    opacity:0.9;
}

#profile-photo{
    width:6rem;
    height:6rem;
    border-radius: 100%;
}
.right-side{
    display:block;
}

.right-side a{
    padding:1.5rem;
    text-decoration: none;
}
.right-side a:first-child{
    color:#2e4d41;
}


.right-side a:hover{
    color:#2e4d41;
    font-weight: bold;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    display: none;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}


@media screen and (max-width:600px) {
    nav{
        flex-wrap: wrap;
    }
    .right-side{
      /* display:flex;*/
        display: none;
        flex-direction: column;
        width: 100%;
        
    }

    .right-side a{
        padding:0.6rem;
        background-color: whitesmoke;
        margin:0.2rem
    }
    .nav-toggle {
        display: block;
    }
}


/*header section*/
.top-container{

    background-color: #E4F9F5;
    position:relative;
    padding-top:150px;
    width:100%;
}

.mountain{
    width:40%;
}

.top-cloud{
    position:absolute;
    right:20%;
    top:20%;
    width:10%;
}

.bottom-cloud{
    position:absolute;
    left:20%;
    bottom:40%;
    width:10%;
}

.middle-container{
   margin:100px 0 0;
}

.profilePhoto{
    width:200px;
    height:200px;
    border-radius:100%;
}

.swimming-png{
    border-radius: 100%;
    float:left;
    margin-right:30px;
    width:25%;
}

.coding-png{

    width:25%;
    float:right;
    margin-left:30px;


}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;

}
.intro{
    width:36%;
    margin:auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

}

.contactMessage{
    width:40%;
    margin:auto;
    margin:40px auto 60px;
}

/*footer section*/
.bottom-container{
   background-color: #66BFBF;
   position:relative;
   top:100px;
   height:180px;
}

.vertical-align{
    padding-top:50px;
}

.vertical-align p{
    color:#EAF6F6;
    margin-top:30px;
    font-size:0.75rem;
}

.vertical-align a{
    padding:10px;
    margin:20px;
    text-decoration: none;
}

.vertical-align a:hover{
    color:#EAF6F6;

}

/*Projects-Section*/
.container{
    padding:3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;

}

.item{
    border-radius: 6px;
    background-color: #ebf5fb;
    width: 300px;
    min-height:300px ;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.item img{
    width: 100%;
    border-radius: 6px 6px 0 0;
    height: 45%;
}

.item-body{
    margin-bottom: 2rem;
    height: 30%;
}
.item-body h3{
    margin:0.2rem 0 0;
}


.item-link {
    background: #9dceef;

    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    border-radius: 0 0 6px 6px;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.7rem;
    text-decoration: none;
    display: block;
  }

.item-link:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #49a3e0, #4d9fd6);
    background-image: -moz-linear-gradient(top, #4ea5de, #4191c7);
    background-image: -ms-linear-gradient(top, #4ea3db, #478dbc);
    background-image: -o-linear-gradient(top, #44a5e6, #3f89ba);
    background-image: linear-gradient(to bottom, #52a9e2, #5197c6);
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .container{
        padding:2rem;
    }
    .item{
        width: 250px;
    }
}
