/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 100;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  justify-content: space-between;
}

.nav-links {
  gap: 20px;
  list-style: none;
}

.navbar a {
  padding: 20px 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s;
}

.navbar a:hover {
  color: #ddd;
}

/*Homepage*/

.homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("images/home-bg.jpg");
  background-position: center;
  background-size: cover;
}

.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  position: relative;
  height: 85%;
  flex-direction: column;
  justify-content: center;
}

.homepage .text {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.homepage .text h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage a {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  font-size: 18px;
  transition: 0.3s;
}

.homepage a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

section {
  padding-top: 80px;
}

.section-title {
  text-align: center;
}

section h2 {
  font-size: 2rem;
}
section .cards {
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .card {
  width: calc(100% / 3 - 30px);
  text-align: center;
  list-style: none;
  background-color: #fff;
  padding: 40px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

section .card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

section .card p {
  margin-top: 5px;
}

/*Portfolio*/

.portfolio .card {
  padding: 0 0 20px;
}

.portfolio .card img {
  height: 240px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

/*About*/

.about .company-info {
  margin-top: 30px;
}
.about .row {
  padding: 0 10px;
}
.about h3 {
  margin: 30px 0 10px;
}

.about ul {
  padding-left: 20px;
}

/*Contact */

.contact .row {
  margin: 60px 0 90px;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 -50px);
}

.contact .row .col p {
  color: #7a7a7a;
  margin-bottom: 10px;
}

.contact .row .col p i {
  margin-right: 10px;
}

.contact form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
  height: 45px;
  border: 1px solid #bfbfbf;
  outline: none;
}

.contact form textarea {
  border: 1px solid #bfbfbf;
  padding: 15px;
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
}

.contact form button {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 17px;
  color: #fff;
  margin-top: 10px;
  border: none;
  background-color: #333;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.contact form button:hover {
  background-color: #525252;
}

/*Footer*/

.footer {
  background-color: #333;
  padding: 20px 0;
  color: #fff;
}

#menu-toggler,
#hamburger-btn {
  display: none;
}

/* Responsive */

@media (width <860px) {
  .navbar .nav-links {
    position: fixed;
    top: 65px;
    left: 0;
    background-color: #333;
    height: 100%;
    width: 300px;
    display: block;
    padding-left: 20px;
    padding-top: 30px;
    transition: all 0.4s ease;
    left: -100%;
  }

  #menu-toggler:checked ~ .nav-links {
    left: 0;
  }

  .nav-links li {
    font-size: 18px;
  }

  #hamburger-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: block;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
  }

  .contact .row {
    flex-direction: column;
  }
  .contact .row .col {
    width: 100%;
  }
  .contact .row .col:last-child {
    margin-top: 40px;
  }
}

@media (width < 560px) {
  .navbar .nav-links {
    width: 200px;
  }
  section .cards .card {
    width: 100%;
  }
  .homepage .text h1 {
    font-size: 30px;
  }
  section h2 {
    font-size: 1.5rem;
  }
}
